<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.livia.mytastelist">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResearchGenre"
            android:label="@string/title_activity_search_by_genre"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MoviesListGenre"
            android:label="@string/title_activity_show_genre"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResearchDistance2"
            android:label="@string/title_activity_random"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserMoviesList"
            android:label="@string/title_activity_seen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MovieDistanceUsers"
            android:label="@string/title_activity_recommandations"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResearchDistance"
            android:label="@string/title_activity_similar_to"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UserLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserRegister" />
        <activity
            android:name=".UserColdStart"
            android:label="@string/title_activity_cold_start"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewList"
            android:label="@string/title_activity_view_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MovieSelection"
            android:label="@string/title_activity_view_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MovieDistance"
            android:label="@string/title_activity_distance_one"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MovieDistance2"
            android:label="@string/title_activity_distance_one"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>